@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@400;700&family=Nunito:wght@400;700&display=swap');
@import './variables.css';

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  background: var(--color-white);
  color: var(--color-black);
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-primary);
  cursor: pointer;
}
